<table>
    <thead>
      <tr>
        <th>REFERENCIA</th>
        <th>ESTADO</th>
        <th>FECHA</th>
        <!--  
          IDEA DE ESTABLECER UN BOTON QUE ABRA UN MODAL PARA VISUALIZAR LOS PRODUCTOS DEL PEDIDO 
          MEDIANTE EL ARRAY DE PRODUCTOS QUE TIENE EL PEDIDO, POR MEDIO DE UNA CONSULTA IN
        -->
        <th>MODAL PRODUCTOS</th>
        <th>FACTURA</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of this.pedidos | paginate: { itemsPerPage: perPage, currentPage: page, totalItems: total }">
        <td>{{item.referencia}}</td>
        <td>{{item.estado}}</td>
        <td>{{item.fechaPedido | formatoFecha}}</td>
        <td> X </td>
        <td><button (click)="this.descargarFactura(item)">FACTURA</button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>
          <pagination-controls
            [previousLabel]="'Anterior'"
            [nextLabel]="'Siguiente'"
            (pageChange)="pageChanged($event)"></pagination-controls>
        </td>
      </tr>
    </tfoot>
  </table>