<div class="container-fluid pt-4">
    <div class="row">
        <div class="p-3">
            <form [formGroup]="registroForm" (ngSubmit)="enviar()" errorTailor>

                <h4 class="text-center">Perfil</h4>

                <div class="row pt-2">

                    <div class="col-md-5">

                        <label for="inputNombre">Nombre</label>
                        <input type="text" id="inputNombre" class="form-control" formControlName="nombre"
                            placeholder="Pepe" [controlErrorsTpl]="campoNombre" [value]="this.perfil?.nombre">
                        <ng-container
                            *ngTemplateOutlet="nombreError;context:{error:registroForm.get('nombre')?.errors}">
                        </ng-container>

                    </div>

                    <div class="col-md-7">

                        <label for="inputApellidos">Apellidos</label>
                        <input type="text" id="inputApellidos" class="form-control" formControlName="apellidos"
                            placeholder="Reina Santos" [controlErrorsTpl]="campoApellidos" [value]="this.perfil?.apellidos">
                        <ng-container
                            *ngTemplateOutlet="apellidoError;context:{error:registroForm.get('apellidos')?.errors}">
                        </ng-container>

                    </div>

                </div>

                <div class="row pt-2">

                    <div class="col-md-5">

                        <label for="inputTelefono">Teléfono</label>
                        <input type="tel" id="inputTelefono" class="form-control" formControlName="telefono"
                            placeholder="963852741" [controlErrorsTpl]="campoTelefono" [value]="this.perfil?.telefono">
                        <ng-container
                            *ngTemplateOutlet="telefonoError;context:{error:registroForm.get('telefono')?.errors}">
                        </ng-container>

                    </div>

                    <div class="col-md-4">

                        <label for="inputNacimiento">Fecha Nacimiento</label>
                        <input type="date" id="inputNacimiento" class="form-control" formControlName="nacimiento"
                            min="1920-01-01" max="2003-02-28" [controlErrorsTpl]="campoFecha" [value]="this.perfil?.nacimiento">

                    </div>

                    <div class="col-md-3">

                        <label for="inputLicencia">Licencia</label>
                        <select [attr.disabled]="((this.perfil?.tipo === 'empleado') || (this.perfil?.tipo === 'administrador')) ? '' : null" 
                            class="form-select" id="inputLicencia" formControlName="licencia" [value]="this.perfil?.licencia">
                            <option value="null">Sin licencia</option>
                            <option value="competicion">Competición</option>
                            <option value="seguridad">Seguridad</option>
                            <option value="fuego">Fuego</option>
                        </select>

                    </div>


                </div>

                <div class="row pt-2">

                    <div class="col-md-9">

                        <label for="inputDireccion">Dirección</label>
                        <input type="text" id="inputDireccion" class="form-control" formControlName="direccion"
                            placeholder="Rúa Serafín del pazo, 65" [controlErrorsTpl]="campoDireccion" [value]="this.perfil?.direccion">
                        <ng-container
                            *ngTemplateOutlet="direccionError;context:{error:registroForm.get('direccion')?.errors}">
                        </ng-container>

                    </div>

                    <div class="col-md-3">

                        <label for="inputCodigoPostal">Código postal</label>
                        <input type="text" id="inputCodigoPostal" class="form-control" formControlName="codigoPostal"
                            placeholder="36880" [controlErrorsTpl]="campoCodigoPostal" [value]="this.perfil?.codigoPostal">
                        <ng-container
                            *ngTemplateOutlet="codigoPostalError;context:{error:registroForm.get('codigoPostal')?.errors}">
                        </ng-container>

                    </div>


                </div>

                <div class="row pt-2">

                    <div class="col-md-7">

                        <label for="inputUsuario">Usuario</label>
                        <input type="text" id="inputUsuario" class="form-control" formControlName="usuario"
                            placeholder="rubitokany" [controlErrorsTpl]="campoUsuario" [value]="this.perfil?.usuario">
                        <ng-container
                            *ngTemplateOutlet="usuarioError;context:{error:registroForm.get('usuario')?.errors}">
                        </ng-container>

                    </div>

                    <div class="col-md-5">

                        <label for="inputDni">DNI</label>
                        <input type="text" id="inputDni" class="form-control" formControlName="dni"
                            placeholder="00112233N" [controlErrorsTpl]="campoDni" [value]="this.perfil?.dni">
                        <ng-container *ngTemplateOutlet="dniError;context:{error:registroForm.get('dni')?.errors}">
                        </ng-container>

                    </div>

                </div>

                <div class="row pt-2">

                    <div class="col-md-8">

                        <label for="inputEmail">Correo Electrónico</label>
                        <input type="email" id="inputEmail" class="form-control" formControlName="email"
                            placeholder="email@email.com" [controlErrorsTpl]="errorEmail" [value]="this.perfil?.email">
                        <div id="emailError"
                            *ngIf="registroForm.get('email')?.hasError('email') && registroForm.get('email')?.touched">
                            Error en el email
                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="form-check">
                            <input class="form-check-input" formControlName="habilitado" type="checkbox" id="inputHabilitado"
                            [checked]="this.perfil?.habilitado">
                            <label class="form-check-label" for="inputHabilitado">
                            Habilitado
                            </label>
                        </div>

                    </div>

                </div>

                <hr>

                <div class="row">
                    <div class="col text-center">
                        
                        <button [disabled]="registroForm.invalid" type="submit" class="btn btn-outline-success enviar">Guardar</button>

                    </div>
                </div>

                
                <!--<button type="reset" class="btn btn-outline-danger ml-4 borrar">Borrar</button>-->
            </form>

            <!-- Error duplicado email y/o nombre usuario -->

            <div *ngIf="this.errores.length > 0" id="emailUsuarioDuplicados">

                <ul *ngFor="let item of this.errores">

                    <li>{{item}}</li>

                </ul>

            </div>

        </div>
    </div>
</div>


<!--TEMPLATES, ERRORES PERSONALIZADOS-->

<!--** Usuario **-->
<ng-template let-error="error" #usuarioError>

    <div *ngIf="error?.pattern" id="usuarioError">

        <!--<i>Incorrecto {{error?.pattern?.requiredPattern}}</i>-->
        <ul>
            <li>Debe estar compuesto por letras y/o números</li>
        </ul>

    </div>

</ng-template>
<ng-template let-error let-text="text" #campoUsuario>

    <div *ngIf="error?.required" id="campoUsuario">

        <p class="text-center">Campo obligatorio</p>

    </div>

</ng-template>

<!--** Código Postal **-->
<ng-template let-error="error" #codigoPostalError>

    <div *ngIf="error?.pattern" id="codigoPostalError">

        <ul>
            <li>Debe tener una lóngitud máxima de 10 dígitos</li>
            <li>Debe comenzar por digitos entre el 1 al 9</li>
        </ul>

    </div>

</ng-template>
<ng-template let-error let-text="text" #campoCodigoPostal>

    <div *ngIf="error?.required" id="campoCodigoPostal">

        <p class="text-center">Campo obligatorio</p>

    </div>

</ng-template>

<!--** Dirección **-->
<ng-template let-error="error" #direccionError>

    <div *ngIf="error?.pattern" id="direccionError">

        <ul>
            <li>La dirección no puede contener carácteres especiales</li>
        </ul>

    </div>

</ng-template>
<ng-template let-error let-text="text" #campoDireccion>

    <div *ngIf="error?.required" id="campoDireccion">

        <p class="text-center">Campo obligatorio</p>

    </div>

</ng-template>

<!--** DNI **-->
<ng-template let-error="error" #dniError>

    <div *ngIf="error?.pattern" id="dniError">

        <ul>
            <li>Debe tener 8 dígitos y una letra</li>
        </ul>

    </div>

</ng-template>
<ng-template let-error let-text="text" #campoDni>

    <div *ngIf="error?.required" id="campoDni">

        <p class="text-center">Campo obligatorio</p>

    </div>

</ng-template>

<!--** NOMBRE **-->
<ng-template let-error="error" #nombreError>

    <div *ngIf="error?.pattern" id="nombreError">

        <!--<i>Incorrecto {{error?.pattern?.requiredPattern}}</i>-->
        <ul>
            <li>Debe empezar por mayúsculas</li>
            <li>Solo debe contener caracteres alfabéticos</li>
        </ul>

    </div>

</ng-template>
<ng-template let-error let-text="text" #campoNombre>

    <div *ngIf="error?.required" id="campoNombre">

        <p class="text-center">Campo obligatorio</p>

    </div>

</ng-template>

<!--** APELLIDOS **-->
<ng-template let-error="error" #apellidoError>

    <div *ngIf="error?.pattern" id="apellidoError">

        <!--<i>Incorrecto {{error?.pattern?.requiredPattern}}</i>-->
        <ul>
            <li>Minimo 3 carácteres.</li>
            <li>Solo carácteres alfabéticos y un espacio entre apellidos</li>
        </ul>

    </div>

</ng-template>
<ng-template let-error let-text="text" #campoApellidos>

    <div *ngIf="error?.required" id="campoApellidos">

        <p class="text-center">Campo obligatorio</p>

    </div>

</ng-template>

<!--** TELEFONO **-->
<ng-template let-error="error" #telefonoError>

    <div *ngIf="error?.pattern" id="telefonoError">

        <!--<i>Incorrecto {{error?.pattern?.requiredPattern}}</i>-->
        <ul>
            <li>Son 9 dígitos.</li>
            <li>Comienza por 6, 9, 7 ó 8.</li>
        </ul>

    </div>

</ng-template>
<ng-template let-error let-text="text" #campoTelefono>

    <div *ngIf="error?.required" id="campoTelefono">

        <p class="text-center">Campo obligatorio</p>

    </div>

</ng-template>

<!--** FECHA DE NACIMIENTO **-->
<ng-template let-error let-text="text" #campoFecha>

    <div *ngIf="error?.required" id="campoFecha">

        <p class="text-center">Campo obligatorio</p>

    </div>

</ng-template>

<!--** EMAIL **-->
<ng-template let-error let-text="text" #errorEmail>

    <div *ngIf="error?.required" id="campoError">

        <p class="text-center">Campo obligatorio</p>

    </div>

</ng-template>