<footer class="footer mt-auto py-3 bg-dark">
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-md-7">
          
          <a href="mailto:sanjuan611@gmail.com" target="_blank" class="btn btn-outline-light">Email: sanjuan611@gmail.com</a>

          <a class="btn btn-outline-light" href="tel:+34672049312">
            Llámanos ahora: 672-049-312
          </a>

          <a class="btn btn-outline-light" routerLink="/contacto">
            Contacte con nosotros
          </a>

        </div>

				<div class="col-md text-center text-warning">
          <a id="linkdedin" href="https://www.linkedin.com/in/julsanbar" target="_blank">Web diseñada y desarrollada por Julián Sanjuán Barrera</a>
				</div>

      </div>
      
    </div>
</footer>