<footer class="footer mt-auto py-3 bg-dark">
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-md-6">
          
          <a href="mailto:sanjuan611@gmail.com" target="_blank" class="btn btn-outline-light">Email: sanjuan611@gmail.com</a>

          <a class="btn btn-outline-light" href="tel:672049312">
            Llámanos ahora: 672-049-312
          </a>

        </div>

        <div class="col-md-6">
          
          <p class="text-light">El horario de atención telefónica es de Lunes a Viernes, de 9:00 a 18:00 horas</p>

        </div>

      </div>
      
    </div>
</footer>