<footer class="footer mt-auto py-3 bg-dark">
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-md-6">
          
          <a href="mailto:info@tiendashoke.es" target="_blank" class="btn btn-outline-light">Email: info@tiendashoke.es</a>

          <a class="btn btn-outline-light" href="tel:+34914332442">
            Llámanos ahora: 914-332-442
          </a>

          <a class="btn btn-outline-light" routerLink="/contacto">
            Contacte con nostros
          </a>

        </div>

				<div class="col-md-6 text-center text-warning">
          <p>Web diseñada y realizada por Julián Sanjuán Barrera</p>
				</div>

      </div>
      
    </div>
</footer>