<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      
      <a class="navbar-brand" routerLink="/">
        <img class="image" src="../../../favicon.ico">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" routerLink="/producto">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" routerLink="/pedido">Pedidos</a>
          </li>
          <li class="nav-item" *ngIf="this.rolUsuario === 'administrador' || this.rolUsuario === 'empleado'">
            <a class="nav-link text-white" aria-current="page" routerLink="/proveedores">Proveedores</a>
          </li>
          <li class="nav-item" *ngIf="this.rolUsuario === 'administrador' || this.rolUsuario === 'empleado'">
            <a class="nav-link text-white" aria-current="page" routerLink="/usuarios">Usuarios</a>
          </li>
        </ul>
        
        <ng-container *ngIf="this.usuarioNoLogeado; else logeado">

          <div class="btn-group" role="group">
          
            <button type="button" class="btn btn-outline-warning d-flex me-2" (click)="redireccionar($event)">Crear cuenta</button>
            <button type="button" class="btn btn-outline-warning d-flex me-2" (click)="redireccionar($event)">Inicar sesion</button>

          </div>

        </ng-container>

        <ng-template #logeado>

          <div class="dropdown dropstart d-flex me-2">
            <button class="btn btn-outline-warning dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
              Mi perfil
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
              <li>
                <a class="dropdown-item text-white" routerLink="/perfil">Ver datos</a>
              </li>
              <li>
                <button type="button" class="dropdown-item" [disabled]="(this.rolUsuario === 'administrador')? true:false" data-bs-toggle="modal" data-bs-target="#deshabilita">
                  Deshabilitar cuenta
                </button>
              </li>
              <!--<button class="dropdown-item" type="button">Deshabilitar cuenta</button>-->
              <li><hr class="dropdown-divider"></li>
              <li>
                <button class="dropdown-item" type="button" (click)="cerrarSesion()">Cerrar sesión</button>
              </li>
            </ul>
          </div>
        </ng-template>

      </div>
    </div>
  </nav>
</header>

<!-- Modal PRODUCTOS-->
<div class="modal fade" id="deshabilita" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <h5 class="text-center">¿Desea deshabilitar su cuenta?</h5>
          <h6 class="text-center">Si acepta, para poder habilitar de nuevo su cuenta deberá ponerse en contacto con el administrador.</h6>
        </div>
      </div>
      <div class="modal-footer justify-content-around">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" (click)="this.deshabilitar()">Si</button>
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>