@charset "UTF-8";

.image{

    width: 60px;
    height: 60px;
    margin-left: 1rem!important;

}

#dropdownMenuButton2{

    margin-right: 1rem!important;

}

.dropdown-menu.show{

    background: #212529!important;
    color: rgb(236, 181, 78)!important;

}

.dropstart .dropdown-toggle::before{

    color: #212529!important;

}

.pieDeshabilita,.cabeceraDeshabilita{

    background: #212529!important;

}

a:hover{

    color: rgb(236, 181, 78)!important;

}

a:active{

    color: rgb(105, 86, 49)!important;

}

a:focus{

    color: rgb(236, 181, 78)!important;

}

#dropdownMenuButton3{

    border: none;

}

.btn-check:active+.btn-outline-light, .btn-check:checked+.btn-outline-light, .btn-outline-light.active, .btn-outline-light.dropdown-toggle.show, .btn-outline-light:active{

    color: rgb(236, 181, 78);
    background: none;

}

#dropdownMenuButton3:hover{

    color: rgb(236, 181, 78);
    background: none;

}