.customTabla{

    margin-top: 2rem!important;
    
}

.pieCancelado,.cabeceraCancelado,.pieProducto,.cabeceraProducto{

    background: #212529!important;

}

.contenido-tabla{

    max-height: 25rem!important;
    overflow:auto;

}

.tabla-fluid{
    margin-bottom: 8rem!important;
}

.noCarrito{

    color: brown;
    background: #21252913!important;
    padding: 2rem;
    border-radius: 2rem 2rem;

}