@charset "UTF-8";

.card-img-top{

    max-height: 230px !important;
    max-width: 230px !important;
    display:block !important;
    margin:auto !important;

}

.card{

    width: 400px !important;
    height: 450px !important;
    border: 0 !important;
    
}

.stock{

    margin-right: 6rem!important;

}

.card:nth-child(odd){

    margin-left: 5rem!important;

}

.pie{

    display:block !important;
    margin:auto !important;

}

.descripcion{

    max-height: 100px!important;
    overflow:auto;
}

.descripcion::-webkit-scrollbar {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.productos{

    margin-bottom: 10rem!important;

}

#carouselExampleIndicators>.carousel-inner>div>img{

    height: 37rem!important;

}

.informacion{

    margin: 1rem 0rem;
    padding: 2rem 0rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #212529!important;
    color: rgb(236, 181, 78);
    border-radius: 0.5rem;

}