<div class="container-fluid tabla-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2 customTabla">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">REFERENCIA</th>
            <th class="text-center">ESTADO</th>
            <th class="text-center">FECHA</th>
            <th class="text-center">PRODUCTOS</th>
            <th class="text-center">FACTURA</th>
            <th class="text-center">CANCELAR</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of this.pedidos | paginate: { itemsPerPage: perPage, currentPage: page, totalItems: total }">
            <td class="text-center">{{item.referencia}}</td>

            <td class="text-center">{{item.estado}}</td>

            <td class="text-center">{{item.fechaPedido | formatoFecha}}</td>
            <td class="text-center">
              <button type="button" class="btn btn-outline-warning border-0"
                (click)="this.referenciasProductosPedidos(item.productos)" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                  class="bi bi-basket2-fill" viewBox="0 0 16 16">
                  <path
                    d="M5.929 1.757a.5.5 0 1 0-.858-.514L2.217 6H.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h.623l1.844 6.456A.75.75 0 0 0 3.69 15h8.622a.75.75 0 0 0 .722-.544L14.877 8h.623a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1.717L10.93 1.243a.5.5 0 1 0-.858.514L12.617 6H3.383L5.93 1.757zM4 10a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm4-1a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0v-2a1 1 0 0 1 1-1z" />
                </svg>
              </button>
            </td>
            <td class="text-center">
              <button type="button" class="btn btn-outline-danger border-0" [disabled]="(item.estado === 'enviado')?true:false" (click)="this.descargarFactura(item)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                  class="bi bi-file-earmark-pdf-fill" viewBox="0 0 16 16">
                  <path
                    d="M5.523 12.424c.14-.082.293-.162.459-.238a7.878 7.878 0 0 1-.45.606c-.28.337-.498.516-.635.572a.266.266 0 0 1-.035.012.282.282 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548zm2.455-1.647c-.119.025-.237.05-.356.078a21.148 21.148 0 0 0 .5-1.05 12.045 12.045 0 0 0 .51.858c-.217.032-.436.07-.654.114zm2.525.939a3.881 3.881 0 0 1-.435-.41c.228.005.434.022.612.054.317.057.466.147.518.209a.095.095 0 0 1 .026.064.436.436 0 0 1-.06.2.307.307 0 0 1-.094.124.107.107 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256zM8.278 6.97c-.04.244-.108.524-.2.829a4.86 4.86 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.517.517 0 0 1 .145-.04c.013.03.028.092.032.198.005.122-.007.277-.038.465z" />
                  <path fill-rule="evenodd"
                    d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.651 11.651 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.856.856 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.844.844 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.76 5.76 0 0 0-1.335-.05 10.954 10.954 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.238 1.238 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a19.697 19.697 0 0 1-1.062 2.227 7.662 7.662 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103z" />
                </svg>
              </button>
            </td>
            <td class="text-center">
              <button type="button" class="btn btn-outline-dark border-0" (click)="this.pedidoCancelar = item"
                data-bs-toggle="modal" data-bs-target="#cancelar"
                [disabled]="(item.estado === 'cancelado' || item.estado === 'entregado' || this.rolUsuario !== 'administrador')? true: false">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                  class="bi bi-x-square-fill" viewBox="0 0 16 16">
                  <path
                    d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z" />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="text-center clearfix" colspan="6">
              <pagination-controls [previousLabel]="'Anterior'" [nextLabel]="'Siguiente'"
                (pageChange)="pageChanged($event)">
              </pagination-controls>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
  
<!-- Modal PRODUCTOS-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header cabeceraProducto">
        <button type="button" class="btn-close btn-outline-danger" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid contenido-tabla">
          <div class="table-responsive-md">
            <table class="table">
              <thead>
                <tr>
                  <th>REFERENCIA</th>
                  <th>CATEGORIA</th>
                  <th>NOMBRE</th>
                  <th>PRECIO</th>
                  <th>TASA</th>
                  <th>CANTIDAD</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of this.productos">
                  <td>{{item.referencia}}</td>
                  <td>{{item.categoria}}</td>
                  <td>{{item.nombre}}</td>
                  <td>{{item.precio | formatoMoneda : '€'}}</td>
                  <td>{{item.tasa | formatoMoneda : '%'}}</td>
                  <td>{{item.cantidad}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer pieProducto">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal CANCELAR PEDIDO-->
<div class="modal fade" id="cancelar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header cabeceraCancelado">
        <button type="button" class="btn-close btn-outline-danger" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <h5 class="text-center">¿Desea cancelar el pedido?</h5>
        </div>
      </div>
      <div class="modal-footer justify-content-around pieCancelado">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"
          (click)="this.cancelarPedido()">Si</button>
        <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>