<div class="container-fluid">

    <div class="row">
        <div class="col-12 text-center">
            
            <h4>Indique el nombre de usuario y correo de la cuenta</h4>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3 p-5">
            <form [formGroup]="registroFormModal" (ngSubmit)="enviar()" errorTailor>

                <label for="inputUsuarioModal">Usuario</label>
                <input type="text" id="inputUsuarioModal" class="mb-3 form-control" formControlName="usuarioModal"
                    placeholder="rubitokany" [controlErrorsTpl]="campoUsuarioModal">
                <ng-container *ngTemplateOutlet="usuarioErrorModal;context:{error:registroFormModal.get('usuarioModal')?.errors}">
                </ng-container>

                <label for="inputEmailModal">Correo Electrónico</label>
                <input type="email" id="inputEmailModal" class="form-control" formControlName="emailModal"
                    placeholder="email@email.com" [controlErrorsTpl]="errorEmailModal">
                <div id="emailError"
                    *ngIf="registroFormModal.get('emailModal')?.hasError('emailModal') && registroFormModal.get('emailModal')?.touched">
                    Error en el email
                </div>

                <hr>

                
                <div class="row">
                    <div class="col-12 pt-1 text-center">

                        <button [disabled]="registroFormModal.invalid" type="submit" class="iniciar btn btn-outline-success">Enviar</button>

                    </div>
                </div>

            </form>

            <div *ngIf="this.errores.length > 0" id="emailUsuarioNoRegistradosModal">

                <ul *ngFor="let item of this.errores">

                    <li>{{item}}</li>

                </ul>

            </div>

        </div>
    </div>
</div>

<!-- TEMPLATES ERRORES -->

<!--** Usuario **-->
<ng-template let-error="error" #usuarioErrorModal>

    <div *ngIf="error?.pattern" id="usuarioErrorModal">

        <!--<i>Incorrecto {{error?.pattern?.requiredPattern}}</i>-->
        <ul>
            <li>Debe estar compuesto por letras y/o números</li>
        </ul>

    </div>

</ng-template>
<ng-template let-error let-text="text" #campoUsuarioModal>

    <div *ngIf="error?.required" id="campoUsuarioModal">

        <p class="text-center">Campo obligatorio</p>

    </div>

</ng-template>

<!--** EMAIL **-->
<ng-template let-error let-text="text" #errorEmailModal>

    <div *ngIf="error?.required" id="campoErrorModal">

        <p class="text-center">Campo obligatorio</p>

    </div>

</ng-template>