<div class="container-fluid pt-4">
  
  <div class="row">
    <div class="col" class="text-center categorias">
      <div class="btn-group" role="group">
        <button type="button" (click)="this.carrito()" class="btn pagar">Pagar</button>
        <button type="button" (click)="this.categoria($event)" class="btn color">Todas</button>
        <button type="button" (click)="this.categoria($event)" class="btn color">Competición</button>
        <button type="button" (click)="this.categoria($event)" class="btn color">Fuego</button>
        <button type="button" (click)="this.categoria($event)" class="btn color">Seguridad</button>
        <button type="button" (click)="this.categoria($event)" class="btn color">Defensa</button>
      </div>
    </div>
  </div>

  <div class="row row-cols-3 row-cols-md-3 g-6 pt-4 productos">
    <div class="col" *ngFor="let item of this.productos | paginate: { itemsPerPage: perPage, currentPage: page, totalItems: total } ;trackBy: trackByItems">
      <div class="card">
        <img [src]="'../../../assets/img/productos/'+item.referencia+'.jpg'" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><strong>{{item.nombre}}</strong></h5>
          <p class="card-text overflow-auto descripcion">{{item.descripcion}}</p>
        </div>
        <div class="card-text pie">
          <span>Unidades: {{item.stock}}</span>
          <span class="precio">PVP: {{item.precio | formatoMoneda : '€'}}</span>
          
          <button type="button" class="btn btn-outline-warning border-0" (click)="this.carritoSelec(item)">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bag-check" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
              <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
            </svg>
          </button>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col" class="clearfix">
      <pagination-controls class="pagination text-center"
      [previousLabel]="'Anterior'"
      [nextLabel]="'Siguiente'"
      (pageChange)="pageChanged($event)">
      </pagination-controls>
    </div>
  </div>

</div>
